.root{
    -fx-background-image: url("img.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 870 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS";
    -fx-text-background-color: white;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.button {
   -fx-background-color: #012740;
   -fx-border-color: #0d5585;
   -fx-border-width: 2;
 }
.button:hover {
   -fx-background-color: #0d5585;
   color: #ccc;
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}